<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.genie.myapp.dao.UserDAO">


	<!-- 배송지 -->

	<insert id="addDelivery">	

		insert into address(address_num, genie_id, user_name, user_tel, user_zipcode, user_addr, user_detailaddr)
		values(#{address_num}, #{genie_id},#{user_name}, #{user_tel}, #{user_zipcode}, #{user_addr}, #{user_detailaddr})

	</insert>

	<!-- 찜한 상품 리스트-->
	<select id="getLikeList" resultType="ProductDTO">

		select * 
		from product_like l
		join product d
		on l.product_id=d.product_id
		where l.genie_id=#{param1}
		order by product_like desc
		
	</select>

	<!-- 주문정보 -->

</mapper>